.ui-widget{
	&.ui-widget-content{
		background-color: $white;
		  border: 1px solid $border-color;
		  box-shadow: $box-shadow-sm;
	}
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
 }

.ui-menu .ui-menu-item-wrapper{
	padding: 0.4rem 1rem ;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover{
	background-color:$primary;
	border-color:transparent;
}