.chart-container{
    position:relative;

    .error-msg{
        position: absolute;
        display:block;
        width:100%;
        left:0;
        top:0;
        color: $danger;
        border: 1px solid $danger;
        background-color: rgba($danger,0.1);
        padding:1em;
        border-radius:$border-radius;
    }
}