// Forms =======================================================================
/* TXO custom forms */


form.validating{
	opacity:.5;
}

.btn-pill{
	border-radius:100px;
}

.custom-control-label {
	padding-right:.5em;
	
	&:empty::before,
	&:empty::after{
		top:-0rem;
	}
}

.col-form-label{
	padding-top: 0rem;
	padding-bottom: 0.5rem;
}
.input-group > .col-form-label{
	padding-left:.5em;
	padding-right:.5em;
}

.custom-select {
	padding:.35rem $input-btn-padding-x;
	line-height:$input-line-height;
	height:auto;
}
.custom-select:focus {
	box-shadow:none;
}


.custom-control{
	.custom-control-label::before {
		background-color:$gray-300;
		border-color:transparent;
	}
	> .custom-control-input:active ~ .custom-control-label::before,
	> .custom-control-input:focus ~ .custom-control-label::before,
	> .custom-control-input:checked ~ .custom-control-label::before {
		border-color:transparent;
	}

	&.success > .custom-control-input:active ~ .custom-control-label::before,
	&.success > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$success;
	}
	&.secondary > .custom-control-input:active ~ .custom-control-label::before,
	&.secondary > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$secondary;
	}

	&.info > .custom-control-input:active ~ .custom-control-label::before,
	&.info > .custom-control-input:checked ~ .custom-control-label::before {
		background-color: $cyan;
	}
	
	&.warning > .custom-control-input:active ~ .custom-control-label::before,
	&.warning > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$warning;
	}
	
	&.danger > .custom-control-input:active ~ .custom-control-label::before,
	&.danger > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$danger;
	}

	&.dark > .custom-control-input:active ~ .custom-control-label::before,
	&.dark > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$dark;
	}

	&.light > .custom-control-input:active ~ .custom-control-label::before,
	&.light > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$light;
	}


	//&.secondary > .custom-control-input:checked ~ .custom-control-label::after,
	&.light > .custom-control-input:checked ~ .custom-control-label::after {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");

	}

	
}


/*btn groups*/

.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group + .btn-group{
    margin-left: -2px;
}







.form-group{
	position:relative;
	

	&.required:before{
		content :'*';
		position:absolute;
		display:inline-block;
		padding: $input-padding-y $input-padding-x;;
		right:0;
		top:0;
		font-size:1.5em;
		font-family:$font-family-sans-serif;
		pointer-events:none;

	}

	&.focused{
		z-index: 2;
	}
	&.focused.required:before{
		color:$secondary;
	}

	&.is-invalid.required:before{
		color: $danger;
	}

	.bootstrap-touchspin{

		.bootstrap-touchspin-postfix .input-group-append .input-group-text{
			padding-right:2.3rem;
			font-size:.9em;
			color:$gray-500;
		}
	}
	


}


/*form groups*/
$sidelabel-size : 160px;

.form-group.outlined{	
	border:1px solid $gray-300;
	padding: 0;//$formgrouppadding/3 $formgrouppadding;
	margin-bottom:0.5rem;
	background-color:$white;
	outline:0px solid rgba( $primary, .2 );
	border-radius:$border-radius;
	transition: box-shadow $transition-speed;



	&.focused{

		border-color:rgba( $primary, .2 );
		//outline:3px solid rgba( $primary, .2 );
		background-color:rgba( $primary, .05 );
		box-shadow: 0 0 0pt 3px rgba( $primary, .2 );
	}

	&.disabled{
		background-color: rgba($gray-300,0.5);

		.dropdown-toggle{
			opacity: .4;
			cursor: default;
		}
	}


	label.col-form-label{
		line-height: 1em;/*$input-line-height;*/
		display:block;
		padding: 2*$input-padding-y $input-padding-x $input-padding-y $input-padding-x;
		color:$gray-700;
		font-size:.8em;
		text-transform:uppercase;
		letter-spacing:0.1em;
		font-weight:500;
	}

	&.form-group-lg{
		label.col-form-label{
			font-size:1.2em;
		}
	}
	&.form-group-sm{
		label.col-form-label{
			font-size:.6em;
		}
	}

	&.focused label.col-form-label{
		color:$secondary;
	}

	&.disabled  label.col-form-label{
		opacity:.6;
	}

	&.bg-black,
	&.bg-gray-800,
	&.bg-gray-700,
	&.bg-gray-600,
	&.bg-gray-500,
	&.bg-orange,
	&.bg-purple,
	&.bg-teal,
	&.bg-green,
	&.bg-cyan,
	&.bg-pink,
	&.bg-indigo,
	&.bg-blue,
	&.bg-red,
	&.bg-success,
	&.bg-danger,
	&.bg-dark,
	&.bg-primary,
	&.bg-secondary,
	&.bg-info{
		input,
		textarea,
		.input-icon,
		.input-group-prepend .input-group-text,
		.input-group-append .input-group-text{
			color: $white;
			&::placeholder{
				color: rgba($white,0.5);
			}
		}
		.input-group-btn-vertical .btn{
			color: $white;
			background-color:rgba(255,255,255,0.1);
			border-color:transparent;
		}
		label.col-form-label{
			color: rgba($white,0.9);
		}
		&:before{
			color: rgba($white,0.9);
		}
		.form-text{
			color:rgba(255,255,255,0.7) !important;
		}

	}
	&.bg-warning{
		input,
		textarea,
		.input-icon,
		.input-group-prepend .input-group-text,
		.input-group-append .input-group-text{
			color: $dark;
			&::placeholder{
				color: rgba($dark,0.5);
			}
		}
		.input-group-btn-vertical .btn{
			color: $dark;
			background-color:rgba(255,255,255,0.1);
			border-color:transparent;
		}
		label.col-form-label{
			color: rgba($dark,0.9);
		}
	}

	.custom-select {
		border-color:transparent;
	}

	// >.custom-file{
	// 	 margin-right:.5em;
	// }
	
	.form-control.is-invalid{
		background-image:none;
	}

	.form-control-container {
		.form-control:not(.bootstrap-select),
		> input,
		> textarea,
		>.mentions-container,
		>.date-container .form-control
		{
			border-color:transparent;
			/*padding-left:0;
			padding-right:0;
			padding:0;*/
			line-height:$input-line-height;
			padding: $input-padding-y $input-padding-x ;
		
		}
		> input.form-control-lg{
			height:auto;
		}

		
	
		.form-control:not(.bootstrap-select):focus,
		> input:focus,
		> textarea:focus,
		>.date-container .form-control:focus,
		>.mentions-container:focus,
		>.custom-file .custom-file-input:focus,
		>.custom-file .custom-file-input:focus ~ .custom-file-label,
		>.form-row .form-control:focus
		{
			border-color:transparent;
			outline:none;
			box-shadow:none !important;
		
		}
		
		
		.form-control:disabled, 
		.form-control[readonly] {
			background-color: transparent;
			opacity: 0.6;
		}
	}


	&.is-invalid{
		border-color:$danger;
		background-color:rgba($danger,0.1);
		.invalid-feedback{
			padding: 0 $input-padding-x $input-padding-y $input-padding-x;
			display:block;
		}
		label.col-form-label{
			color: $danger;
		}

		.input-icon{
			color: $danger;
		}

		.form-text{
			// display:none;
		}

		input,
		textarea,
		select{
			border-color:transparent !important;
		}
	}


	&.loading{
		border-color:$info;
		background-color:rgba($info,0.1);
		
		label.col-form-label{
			color: $info;
		}
	}
	


 	> .custom-control{
 		margin:$input-padding-y $input-padding-x ;
 	}

 	.form-text{
 		margin:0;
		padding:.5em $input-padding-x ;
		// border-top:1px solid rgba(0,0,0,0.03)
			
 	}

 	.bootstrap-touchspin{
		.form-control{
			border-color:transparent;
			line-height:$input-line-height;
			padding-left: $input-padding-x ;
			padding-right: $input-padding-x ;
			padding-top: $input-padding-y ;
			padding-bottom: $input-padding-y  ;
			z-index:0;
			&:focus{
				box-shadow: none;
			}
		}
		.input-group-append .input-group-text{
			line-height:$input-line-height;
			padding: $input-padding-y $input-padding-x ;
			padding-right:2.3rem;
			
		}
	}


	>.input-group.colorpicker-element,
	>.input-group.iconpicker-container {
		padding-top:0;
		padding-bottom:0;
		

		.form-control{
			border-width: 0;
			box-shadow:none !important;
			
		}

		.icon-input-addon i {
			font-size:1.2em;
		}
	}

	.selectpicker-wrapper .dropdown-toggle{
		border-width:0px;
	}
	
	.input-group-addon .input-group-text{
		border-width:0px;
	}

	&.sidelabel{
		
		label.col-form-label {
			width: $sidelabel-size;
			padding-bottom:2*$input-padding-y;
			line-height: 1.2em;

			
		}

		.input-icon{
			padding: $input-padding-y;
		}
		

		.form-control-container{

			>.form-row
			{
				padding: 0;
			}

			

			> .input-group:not(.bootstrap-touchspin):not(.colorpicker-element):not(.iconpicker-container){
				padding-top:$input-padding-y;
				padding-bottom:$input-padding-y;
			}

			>.input-group.colorpicker-element,
			>.input-group.iconpicker-container {
				padding-top:0;
				padding-bottom:0;
				
				.form-control{
					padding-left:0;
				}
			}

			> .input-group.bootstrap-touchspin{
				padding-bottom: 2px;
			}
		}	

		.form-text,
		.feedback{
			margin-top:-.5em;
		}
		

		
	}

	
}



.form-inline .form-group.outlined{
	margin-bottom:0;
}

.form-inline .form-group.outlined label {
		padding-top:$input-padding-y;
		padding-bottom:$input-padding-y;
	}

@media (min-width: 576px){
	
	.form-inline .form-group{
		margin-right:5px;
	}
	.form-inline .form-group:last-child{
		margin-right:0;
	}
	.form-inline .form-group:not(.outlined)  label {
		padding-right:$input-padding-x;
		padding-left:$input-padding-x;
	}
}








.btn{
	text-transform:uppercase;
	
}

label.btn{
	margin-bottom:0px;
}




/*input icons*/

.input-icon{
	display:inline-block;
	line-height:1.5rem;//$input-line-height;
	padding: $input-padding-y 0 $input-padding-y $input-padding-x ;
	font-size:1rem;
	opacity:.6;
}
.order-12 > .input-icon{
	padding: $input-padding-y $input-padding-x  $input-padding-y 0;
	
}


// label + .input-icon{
// 	//padding: $input-padding-y $input-padding-x;
// 	// margin-top: $input-padding-y+$input-line-height;
// }


.form-group.focused .input-icon{
	//color:$secondary;
	opacity:1;
}


.tribute-container{
	background-color:$white;
	border:1px solid $border-color;
	box-shadow: $box-shadow-sm;
	
	ul{
		background: transparent;
		margin-top: 0;
	}
}



