textarea[type=hidden]{
	display:none;
}

//iconpicker

.iconpicker-popover{
    margin-top:0  !important;
    left:0 !important;
    width:100% !important;
    max-width: none !important;
    top:100% !important;
    transition: none !important;

    &.fade.in{
    	opacity: 1;
    }

    >.arrow{
    	display: none !important;
    }
}


.file-preview{
	border-width: 0px;
	margin-top:-1em;
	.fileinput-remove{
		right:0.5em;
		top: -0.2em;
	}
	.file-drop-zone{
		border-color:$border-color;
		border-radius:$border-radius;
		.file-drop-zone-title{
			color:$gray-400;
			font-size:1.2em;
		}
	}
}

.bootstrap-touchspin .input-group-btn-vertical{
	z-index:1;
}