// Forms =======================================================================
/* TXO custom forms */


form.validating{
	opacity:.5;
}

.btn-pill{
	border-radius:100px;
}

.custom-control-label {
	padding-right:.5em;
	
	&:empty::before,
	&:empty::after{
		top:-0rem;
	}
}

.col-form-label{
	padding-top: 0rem;
	padding-bottom: 0.5rem;
}
.input-group > .col-form-label{
	padding-left:.5em;
	padding-right:.5em;
}

.custom-select {
	padding:.35rem $input-btn-padding-x;
	line-height:$input-line-height;
	height:auto;
}
.custom-select:focus {
	box-shadow:none;
}


.custom-control{
	.custom-control-label::before {
		background-color:$gray-300;
		border-color:transparent;
	}
	> .custom-control-input:active ~ .custom-control-label::before,
	> .custom-control-input:focus ~ .custom-control-label::before,
	> .custom-control-input:checked ~ .custom-control-label::before {
		border-color:transparent;
	}

	&.success > .custom-control-input:active ~ .custom-control-label::before,
	&.success > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$success;
	}
	&.secondary > .custom-control-input:active ~ .custom-control-label::before,
	&.secondary > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$secondary;
	}

	&.info > .custom-control-input:active ~ .custom-control-label::before,
	&.info > .custom-control-input:checked ~ .custom-control-label::before {
		background-color: $cyan;
	}
	
	&.warning > .custom-control-input:active ~ .custom-control-label::before,
	&.warning > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$warning;
	}
	
	&.danger > .custom-control-input:active ~ .custom-control-label::before,
	&.danger > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$danger;
	}

	&.dark > .custom-control-input:active ~ .custom-control-label::before,
	&.dark > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$dark;
	}

	&.light > .custom-control-input:active ~ .custom-control-label::before,
	&.light > .custom-control-input:checked ~ .custom-control-label::before {
		background-color:$light;
	}


	//&.secondary > .custom-control-input:checked ~ .custom-control-label::after,
	&.light > .custom-control-input:checked ~ .custom-control-label::after {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");

	}

	
}


/*btn groups*/

.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group + .btn-group{
    margin-left: -2px;
}







.form-group{
	position:relative;
	

	&.required:before{
		content :'*';
		position:absolute;
		display:inline-block;
		padding: $input-padding-y $input-padding-x;;
		right:0;
		top:0;
		font-size:1.5em;
		font-family:$font-family-sans-serif;
		pointer-events:none;

	}

	&.focused{
		z-index: 2;
	}
	&.focused.required:before{
		color:$secondary;
	}

	&.is-invalid.required:before{
		color: $danger;
	}

	.bootstrap-touchspin{

		.bootstrap-touchspin-postfix .input-group-text{
			padding-right:2.3rem;
			font-size:.9em;
			color:$gray-500;
		}
	}
	


}

/*form groups*/
$sidelabel-size : 160px;

.form-group.outlined{	
	border:1px solid $gray-300;
	padding: 0;//$formgrouppadding/3 $formgrouppadding;
	margin-bottom:0.5rem;
	background-color:$white;
	outline:0px solid rgba( $primary, .2 );
	border-radius:$border-radius;
	transition: box-shadow $transition-speed;



	&.focused{

		border-color:rgba( $primary, .2 );
		//outline:3px solid rgba( $primary, .2 );
		background-color:rgba( $primary, .05 );
		box-shadow: 0 0 0pt 3px rgba( $primary, .2 );
	}

	&.disabled{
		background-color: rgba($gray-300,0.5);

		.dropdown-toggle{
			opacity: .4;
			cursor: default;
		}
	}


	> label{
		line-height: 1em;/*$input-line-height;*/
		display:block;
		padding: 2*$input-padding-y $input-padding-x $input-padding-y $input-padding-x;
		color:$gray-700;
		font-size:.8em;
		text-transform:uppercase;
		letter-spacing:0.1em;
		font-weight:700;
	}

	&.form-group-lg{
		> label{
			font-size:1.2em;
		}
	}
	&.form-group-sm{
		> label{
			font-size:.6em;
		}
	}

	&.focused > label{
		color:$secondary;
	}

	&.disabled > label{
		opacity:.6;
	}

	&.bg-success,
	&.bg-danger,
	&.bg-dark,
	&.bg-primary,
	&.bg-secondary,
	&.bg-info{
		input,
		textarea,
		.input-icon{
			color: $white;
			&::placeholder{
				color: rgba($white,0.5);
			}
		}
		> label{
			color: rgba($white,0.9);
		}

	}

	.custom-select {
		border-color:transparent;
	}

	>.custom-file{
		// margin-right:.5em;
	}
	
	.form-control.is-invalid{
		background-image:none;
	}


	> input,
	> textarea,
	>.mentions-container,
	>.date-container .form-control,
	{
		border-color:transparent;
		/*padding-left:0;
		padding-right:0;
		padding:0;*/
		line-height:$input-line-height;
		padding: $input-padding-y $input-padding-x ;
	
	}

	> input.form-control-lg{
		height:auto;
	}

	>.form-row 
	{
		// padding-left: $input-padding-x ;
		// padding-right: $input-padding-x ;
		margin-left:0;
		margin-right:0;

		.form-control{
			border-color:transparent;
			display:block;
		}
	}

	>.input-icon + .form-row {
		padding-left: 1.5*$input-padding-x;
	}

	> input:focus,
	> textarea:focus,
	>.date-container .form-control:focus,
	>.mentions-container:focus,
	>.custom-file .custom-file-input:focus,
	>.custom-file .custom-file-input:focus ~ .custom-file-label,
	>.form-row .form-control:focus
	{
		border-color:transparent;
		outline:none;
		box-shadow:none !important;
	
	}
	
	
	.form-control:disabled, 
	.form-control[readonly] {
	    background-color: transparent;
	    opacity: 0.6;
	}

	&.is-invalid{
		border-color:$danger;
		background-color:rgba($danger,0.1);
		.invalid-feedback{
			padding: 0 $input-padding-x $input-padding-y $input-padding-x;
			display:block;
		}
		>label{
			color: $danger;
		}

		>.input-icon{
			color: $danger;
		}

		.form-text{
			display:none;
		}

		> input,
		> textarea,
		> select{
			border-color:transparent !important;
		}
	}


	&.loading{
		border-color:$info;
		background-color:rgba($info,0.1);
		
		>label{
			color: $info;
		}
	}
	

	&.with-feedback{
		.input-icon{
			bottom: 1.5em;
		}
	}

 	> .custom-control{
 		margin:$input-padding-y $input-padding-x ;
 	}

 	.form-text{
 		margin-left: 1rem;
 		margin-top:0;
 		margin-bottom:.5rem;
 		clear: both;
 	}

 	.bootstrap-touchspin{
		.form-control{
			border-color:transparent;
			line-height:$input-line-height;
			padding-left: $input-padding-x ;
			padding-right: $input-padding-x ;
			padding-top: $input-padding-y ;
			padding-bottom: $input-padding-y  ;

			&:focus{
				box-shadow: none;
			}
		}
		.input-group-text{
			line-height:$input-line-height;
			padding: $input-padding-y $input-padding-x ;
			padding-right:2.3rem;
			
		}
	}


	>.input-group.colorpicker-element,
	>.input-group.iconpicker-container {
		padding-top:0;
		padding-bottom:0;
		

		.form-control{
			border-width: 0;
			box-shadow:none !important;
			
		}

		.icon-input-addon i {
			font-size:1.2em;
		}
	}

	.selectpicker-wrapper .dropdown-toggle{
		border-width:0px;
	}
	
	.input-group-addon .input-group-text{
		border-width:0px;
	}

	&.sidelabel{
		/*display:flex;*/
		> label{
			width: $sidelabel-size;
			float:left;
			padding-bottom:2*$input-padding-y;
			line-height: 1.2em;
		}
		> input,
		> .input-group,
		> textarea{
			width:calc(100% - #{$sidelabel-size} );
			padding-left:0em;
		}

		> .selectpicker-wrapper,
		> .date-container,
		> .mentions-container,
		> .form-control-container,
		> .bootstrap-tagsinput,
		> .custom-file{
			width:calc(100% -  #{$sidelabel-size} ) ;
			float:left;
			>.bootstrap-select .filter-option{
				padding-left:0em;
			}
		}

		> .mentions-container,
		>.file-input .file-caption{
			padding-left:0;
		}
		
		>.bootstrap-touchspin .form-control,
		>.bootstrap-touchspin .form-control,
		>.date-container .form-control,
		>.form-row .form-control{
			padding-left:0;
		
		}

		>.form-row
		{
			padding: 0;
			

		
		}

		

		> .input-group:not(.bootstrap-touchspin):not(.colorpicker-element):not(.iconpicker-container){
			padding-top:$input-padding-y;
			padding-bottom:$input-padding-y;
		}

		>.input-group.colorpicker-element,
		>.input-group.iconpicker-container {
			padding-top:0;
			padding-bottom:0;
			
			.form-control{
				padding-left:0;
			}
		}

		> .input-group.bootstrap-touchspin{
			padding-bottom: 2px;
		}
		.form-text,
		.feedback{
			padding-bottom:0rem;
			margin-left:$sidelabel-size;
			margin-top:-.5em;
			float: left;
			clear: both;
			padding-left:0em !important;
		}
		>.input-icon{
			margin-top:0;
			left:$sidelabel-size;
			padding-left:0;

			+  input,
			+  .input-group,
			+  textarea,
			+ .selectpicker-wrapper .dropdown-toggle,
			+ .selectpicker-wrapper .filter-option,
			+ .input-group,
			+ .date-container,
			+ .mentions-container,
			+ .custom-file .custom-file-label,
			+ .form-row
			{
				padding-left:1.5em;
			}

		}

		&.form-group-textarea > .input-icon{
			bottom:auto;
			top:0em;
		}

		&::after{
			content: '';
		    display: block !important;
		    clear: both;
		    position:relative !important;
		}
	}

	
}



.form-inline .form-group.outlined{
	margin-bottom:0;
}

.form-inline .form-group.outlined label {
		padding-top:$input-padding-y;
		padding-bottom:$input-padding-y;
	}

@media (min-width: 576px){
	
	.form-inline .form-group{
		margin-right:5px;
	}
	.form-inline .form-group:last-child{
		margin-right:0;
	}
	.form-inline .form-group:not(.outlined)  label {
		padding-right:$input-padding-x;
		padding-left:$input-padding-x;
	}
}








.btn{
	text-transform:uppercase;
	
}

label.btn{
	margin-bottom:0px;
}




/*input icons*/

.input-icon{
	display:inline-block;
	position:absolute;
	bottom:0px;
	left:0;
	line-height:1.5rem;//$input-line-height;
	padding: $input-padding-y $input-padding-x;
	font-size:1rem;
	pointer-events:none;
	// color:$gray-400;
	opacity:.6;
}
.form-group-textarea .input-icon{
	bottom:auto;
	top:2em;
}

.input-icon.icon-right{
	left:auto;
	right:0;
}

label + .input-icon{
	//padding: $input-padding-y $input-padding-x;
	// margin-top: $input-padding-y+$input-line-height;
}

.input-icon + input.form-control,
.input-icon + textarea.form-control,
.input-icon + .selectpicker-wrapper .dropdown-toggle,
.form-group .input-icon + .date-container .form-control.flatpickr-input,
.input-icon + .mentions-container,
.input-icon.icon-left + .custom-file .custom-file-label,
.form-group .input-icon + .bootstrap-touchspin > .form-control,
.input-icon + .bootstrap-tagsinput > .twitter-typeahead > input{

	padding-left:2.5*$input-padding-x;
}

.input-icon + .file-input .form-control.file-caption{
	padding-left:0;
}
.input-icon.icon-right + input.form-control,
.input-icon.icon-right + textarea.form-control,
.input-icon.icon-right + .selectpicker-wrapper .dropdown-toggle,
.form-group .input-icon.icon-right + .date-container .form-control.flatpickr-input,
.input-icon.icon-right + .mentions-container,
.form-group  .input-icon.icon-right + .bootstrap-touchspin > .form-control,
.input-icon.icon-right + .bootstrap-tagsinput > .twitter-typeahead > input{
	padding-left:$input-padding-x;
	padding-right:2.5*$input-padding-x;
}

.form-group.focused .input-icon{
	//color:$secondary;
	opacity:1;
}

.form-inline .input-icon{
	position:static;
	padding:$input-padding-y $input-padding-x;
	padding-right:0;
	line-height:$input-line-height;
	margin-top:0;
}

.custom-control-label .input-icon{
	position:relative;
	line-height:1em;
	padding:0 .3em 0 0;
	top:1px;
}

.form-inline label + .input-icon{
	padding-left:0;
}

.form-inline .input-icon + input.form-control,
.form-inline .input-icon + textarea.form-control,
.form-inline .input-icon + select.form-control.custom-select{
	padding-left:$input-padding-x;
	padding-right:$input-padding-x;
}


.tribute-container{
	background-color:$white;
	border:1px solid $border-color;
	box-shadow: $box-shadow-sm;
	
	ul{
		background: transparent;
		margin-top: 0;
	}
}



