.component-icon, .component-preview,#form-tabs .closer, .component > .component-header > .title > .col-controls,.component > .component-header > .controls{
	-moz-transition:all 100ms ease-out;
	-ms-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-webkit-transition:all 100ms ease-out;
	transition:all 100ms ease-out;
}

.component{
	/*-moz-transition:background 200ms ease-out;
	-ms-transition:background 200ms ease-out;
	-o-transition:background 200ms ease-out;
	-webkit-transition:background 200ms ease-out;*/
	transition:background 100ms ease-out, outline 100ms ease-out, box-shadow 100ms ease-out, width 100ms ease-out;
}
.form-canvas{
	min-height:600px;
	border:1px solid $border-color;
	outline:0px solid $gray-200;
	padding:10px;
	background-color: $white;
}

.tool.ui-draggable-dragging{
	background-color:$white;
	outline:1px solid $gray-200;
	z-index:999;
}


.component{
	background-color:transparent;
	min-height:50px;
	position:relative;
	margin:0px;
	padding:5px;
	display:block;
	padding-top:28px;
	outline:1px solid rgba($black,0.05);
	margin-bottom:5px ;
	/*cursor:pointer;*/
	clear:both;
	/*float:left;
	width:100%;*/
	
}
.component.ishidden{
	opacity:.5;
	filter: grayscale(100%);
       
}
.component.field{
	background-color:rgba($gray-400,0.3);
}
.component:after {
    content: "";
    clear: both;
    display: table;
}

.component.column{
	clear:none;
	float:left;
}

.component.column,.component.section,.component.row{
	cursor:default;
	background-color:transparent;
	
}


.component > .component-header {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	/*border-bottom:1px solid $gray-200;*/
	cursor:move;
	height:25px;
	opacity:1;
	
}
.component > .component-header > .title{
	position:absolute;
	left: 8px;
    top: 2px;
	color:rgba($black,0.6);
	font-family:$font-family-sans-serif;
	font-weight:$btn-font-weight;
	font-size:$font-size-sm;
	text-transform:uppercase;
	
}
.form-canvas .row{
	margin-left:0px;
	margin-right:0px;
	margin-bottom:5px ;
	padding-left:0px;
	padding-right:0px;	
}
.form-canvas .section:before{
    content: " ";
    display: table;
}
.form-canvas:after,
.form-canvas .section:after{
	clear: both;
	content: " ";
	display: table;
}

.component.column{
	margin-bottom:5px ;
	margin-right:0.25%;
	margin-left:0.25%;
}
.component.column.col-xs-1{width:7.83333333%}
.component.column.col-xs-2{width:16.16666666%}
.component.column.col-xs-3{width:24.5%}
.component.column.col-xs-4{width:32.83333333%}
.component.column.col-xs-5{width:41.16666667%}
.component.column.col-xs-6{width:49.5%;}
.component.column.col-xs-7{width:57.83333333%}
.component.column.col-xs-8{width:66.16666667%}
.component.column.col-xs-9{width:74.5%}
.component.column.col-xs-10{width:82.83333333%}
.component.column.col-xs-11{width:91.16666667%}
.component.column.col-xs-12{width:99.5%}


.form-canvas .section{
	/*margin-bottom:0px  ;*/
}
.component > .component-header{
	white-space:no-wrap;
	overflow:hidden;
}
.component > .component-header > .controls{
	position:absolute;
	right:2px;
	top:6px;
	font-size:12px;
	color:$gray-500;
	
	opacity:0;
}


.component > .component-header > .title > .col-controls{
	opacity:0;
	position: relative;
}
.component.mini > .component-header > .title > .col-controls{
	top: 0px;
	left: -5px;
}
.component-name{ }
.component.row > .component-header > .title .component-name{display:inline;}
.component.section > .component-header > .title .component-name{display:inline;}
.component.column > .component-header > .title .component-name{display:inline;}
.component.tabs > .component-header > .title .component-name{display:inline;}

.component.mini:hover  > .component-header > .title   .component-name{
	display:none;
}

.component.mini > .component:hover > .component-header > .title   .component-name{
	opacity:0;
}

.component > .component-header > .controls a, .component > .component-header > .title a{
	color:$gray-500;
}

.component > .component-header > .title a.disabled, .component > .component-header > .controls a.disabled{
	cursor:default;
	opacity:.4;
}
.component > .component-header > .title   .col-controls a{
	padding:0px 4px;
	font-size:1.3em;
	position:relative;
	top:2px;
}
.component > .component-header > .title a.disabled:hover, .component > .component-header > .controls a.disabled:hover{
	color:$gray-500;
}
.component > .component-header > .controls a{
	padding:0px 5px 0px 0px;
}
.component > .component-header > .controls > a:hover, .component > .component-header > .title a:hover {
	color:$primary;
	text-decoration:none;
	/*background-color:$white;*/
}
.component:hover {
	/*outline: 1px solid rgba($info,0.5);*/
	/*background-color:rgba($info,.05);*/
	
	/*background-color:$white;*/
	/*-webkit-box-shadow: 0 0 5px 0.1px rgba($black,0.1);
	box-shadow: 0 0 5px 0.1px rgba($black,0.1);*/
}
.component:hover > .component{
	/*outline: 1px solid rgba($info,0.5);*/
	
}

.component.hover {
	background-color:rgba($info,.05);
	outline-color:rgba($info,.1);
	//outline: 1px solid rgba($info,0.5);
	//box-shadow: 0 0 5px 0.1px rgba($black,0.1);
	color:rgba($info,1);

}
.component.hover *{
	color:rgba($info,1);
}

.drop-waiting{
	/*background-color:rgba($black,0.05);*/
	background-color: rgba($info,0.05) !important;

}

.drop-active{
	/*background-color:rgba($black,0.1);*/
	background-color: rgba($info,0.4);
	outline: 1px solid $info !important;
}
.cloned{
	/*outline:1px solid red;*/
}

/*.component:hover > .component-header .controls, .component:hover  > .component-header > .title > .col-controls{
	opacity:1;
}*/
.component.hover > .component-header .controls, .component.hover  > .component-header > .title > .col-controls{
	opacity:1;
}

.component-preview{
	display:block;
	text-decoration:none;
	background-color:transparent;/*rgba($black,0.05);*/
	margin:5px;
	margin-top:0px;
	padding:10px;
	text-align:center;
	color:rgba($black,0.3);
	cursor:pointer;
}
/*
.component.hover  .component-preview{
	background-color:rgba($info,0.1);
}
.component.hover  .component-preview:hover{
	background-color:rgba($info,0.3);
	outline:1px solid rgba($info,.5);
	color:rgba($info,1);/*-rgba($black,0.4);*
}
.component.hover  .component-preview:hover  .component-icon{
	color:rgba($info,1);
}*/
.sortable-placeholder{
	display:block;
	min-height:50px;
	outline:1px solid rgba($info,1);
	background-color: rgba($info,0.5);
	margin-bottom:5px;
	
}
.tabs-placeholder{
	display:block;
	min-height:20px;
	outline:1px solid rgba($info,1);
	background-color: rgba($info,0.5);
	margin-bottom:0px;
	
}
.sortable-placeholder.row-placeholder{
	float:left;
	margin-right:0.2%;
	margin-left:0.2%;
	margin-bottom:5px;
}

#modal-component{
	/*display:none;*/
}

.ui-sortable-helper{
opacity:.6;
}


#form-tabs .closer{
	position:absolute;
	right:7px;
	top:8px;
	color:#aaa;
	display:inline-block;
	padding:0px;
	border-radius:1px;
	
	text-align:center;
	width:24px;
	height:24px;
	line-height:24px;
	opacity:0;
	font-size:8pt;
}
#form-tabs .closer i{
	position:relative;
	cursor:pointer;
}
#form-tabs li:hover .closer{
	opacity:1;
}
#form-tabs .closer:hover{
	background-color:$gray-200;
	color:$primary;
	
}
.nav>li.add-tab{
	min-height:41px;
}
.nav>li.add-tab>a {
	width:24px;
	height:24px;
	line-height:24px;
	display:inline-block;
	padding:0px;
	color:#aaa;
	border-radius:1px;
	text-align:center;
	position:relative;
	top:8px;
	left:6px;
	font-size:10pt;
}

.nav>li.add-tab>a:focus{
	background-color:transparent;
	color:#aaa;
	border-color:transparent;
}
.nav>li.add-tab>a:hover {
    background-color:$gray-200;
	color:$primary;
	border-color:transparent;
}
.tab-title{
margin-right:20px;
margin-left:10px;

}
.tab-input{
	display:inline-block;
	width:auto;
	padding: 10px 35px 11px 25px;
	position:relative;
	float:left;
	margin-right: -30px;
	margin-left:0px;
	margin-top:-10px;
	border-width:0px;
	background-color:rgba($info,1);
	outline:none;
}



#entity-form-designer .toolbar.sticky-top {
    top: 80px;
}