
.map-container{
	position:relative;

	&.loading::after{
		font-size:1.5em;
	}

	.map-search-input{
		position:absolute;
		left: 10px;
		top: 10px;
		z-index: 1;
		width:auto;
		max-width: calc(100% - 75px);
		box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);//$box-shadow-sm;
		background: #fff;
		
		.form-group{
			margin-bottom: 0px;
			
			.form-control{
				height: 2.5rem;
				&:focus{
					// background-color:white;
				}

			}
		}
	}

	.coords-display{
		display:block;
		&:empty{
			display: none;
		}
	}

		
	.google-map{
		min-height:350px;
		// height:100%;
		width:100%;

		border:1px solid $border-color;
		background-color:$white;
	}


}


.pac-container {
	z-index: 2000;
    position: fixed;
    display: inline-block;
    float: left;
}

.pac-item{
	border-width:0;
	//font-family:$font-family-sans-serif;
	font-size:1em;
	padding:.3em .5em;
	
	&:hover{
		background-color: rgba($primary,0.1);
	}

	.pac-item-query{
		font-size:1em;
		//font-weight:700;
	
	}
	.pac-matched{
		color:$primary;
	}

	&.pac-item-selected{
		background-color: rgba($primary,1);
		color:$white;

		.pac-icon{
			color:rgba($white,0.6);
		}
		.pac-item-query	{
			color:$white;
		}
		.pac-matched{
			color:$white;
		}
	}
}


.gm-style .gm-style-iw-c{
	border-radius:0;
	padding:0px  !important;
	max-height:none  !important;
	max-width:none  !important;
	.gm-style-iw-d{
		margin:30px 5px 5px 15px;
		max-height:none  !important;
		max-width:none  !important;
		// padding-left:1em;
		// padding-right:1em;
	}
	button.gm-ui-hover-effect{
		top:0px !important;
		right:0px !important;
	}
}