
.map-container{
	position:relative;

	&.loading::after{
		font-size:1.5em;
	}

	.map-search-input{
		position:absolute;
		left: 10px;
		top: 10px;
		z-index: 1;
		width:auto;
		box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);//$box-shadow-sm;
		background: #fff;
		width: auto;

		&.with-search{
			width: calc(100% - 75px);
		}
		.form-group{
			margin-bottom: 0px;
			
			.form-control{
				height: 2.5rem;
				border-width: 0px;
				&:focus{
					// background-color:white;
				}

			}
		}
	}

	.coords-container{
		position: absolute;
		bottom:0px;
		left:0px;
		z-index:10;
		min-height:21px;
		min-width:25px;
		overflow:hidden;
		display:flex;
		justify-content: center;
		align-items: center;

		.coords-closer{
			position:absolute;
			top:10px;
			right:10px;
		}
		.coords-opener{
			opacity:.8;
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);//$box-shadow-sm;
			pointer-events: none;
			position: absolute;
			bottom:0px;
			left:0px;
			border-radius: 0;
		}

		

		.coords-display{
			flex-direction: column;
			display:none;
			padding:1em	5px 1em 1em;
			
			max-width:80%;
			box-shadow: $box-shadow-sm;
			background-color:white;
			border-radius:10px;
			max-height:80%;

			.coords-content{
				display: flex;
				justify-content: center;
				overflow-y: auto;

				h5{
					padding-top:10px;
					padding-bottom:10px;
					border-top:1px solid $border-color;
					border-bottom:1px solid $border-color;
					font-weight: bold;
				}
				// height:100%;
			}
			ul{
				margin-right:10px;
			}
			li{
				padding-top:1em;
				&.selected{
					// background-color:rgba($info,0.3);
					color:$info;
					h5{
						color:$info;
					}
				}
				&:first-child{
					border-top-width:0px;
					padding-top:0em;
					h5{
						border-top-width:0px;
					}
				}
			}
	
		}


		&.with-value{
			.coords-opener{
				opacity:1;
				pointer-events: all;

			}
		}
		&.opened{
			background-color:rgba(32,33,36,.7);
			-webkit-backdrop-filter: blur(3px);
    		backdrop-filter: blur(3px);
			width:100%;
			height:100%;

			.coords-display{
				display: flex;
				
			}
			.coords-opener{
				display:none;
			}
		}
	}


		
	.google-map{
		min-height:350px;
		// height:100%;
		width:100%;

		border:1px solid $border-color;
		background-color:$white;
	}


}



.pac-container {
	z-index: 2000;
    position: fixed;
    display: inline-block;
    float: left;
}

.pac-item{
	border-width:0;
	//font-family:$font-family-sans-serif;
	font-size:1em;
	padding:.3em .5em;
	
	&:hover{
		background-color: rgba($primary,0.1);
	}

	.pac-item-query{
		font-size:1em;
		//font-weight:700;
	
	}
	.pac-matched{
		color:$primary;
	}

	&.pac-item-selected{
		background-color: rgba($primary,1);
		color:$white;

		.pac-icon{
			color:rgba($white,0.6);
		}
		.pac-item-query	{
			color:$white;
		}
		.pac-matched{
			color:$white;
		}
	}
}


.gm-style .gm-style-iw-c{
	border-radius:0;
	padding:0px  !important;
	max-height:none  !important;
	max-width:none  !important;
	.gm-style-iw-d{
		margin:30px 5px 5px 15px;
		max-height:none  !important;
		max-width:none  !important;
		// padding-left:1em;
		// padding-right:1em;
	}
	button.gm-ui-hover-effect{
		top:0px !important;
		right:0px !important;
	}
}



.map-custom-marker{
	position: absolute;
	
	border-radius: 50%;
	border: 0px solid #fff;
	// width: 20px;
	// height: 20px;
	padding:0px;
	text-align: center;
	color:#fff;
	transform: translateX(-50%) translateY(-28px);
  }

  .markerlabel-icon{
	visibility: hidden;
	// display:none;
	position:relative;
	&:before {
		visibility: visible;
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		text-align: center;
		// display:block;
	}
	
	// content: "";
	// text-indent: -9999px;
	// white-space: nowrap;
    // overflow: hidden;
  }

  .markerlabel-internal{

  }	
  .markerlabel-external{
	background-color:$gray-100;
	border:1px solid $gray-500;
	border-radius:$border-radius;
	color:$gray-900;
	padding:.3em;
  }
  
//   .map-custom-marker .after {
// 	position: absolute;
// 	content: '';
// 	width: 0px;
// 	height: 0px;
// 	bottom: -20px;
//     left: 5px;
//     border: 10px solid transparent;
//     border-top: 14px solid #fff;
//   }