.ql-toolbar.ql-snow{
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-color:$border-color;
}

.ql-container.ql-snow{
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}