.nav-tabs > .nav-item{
  margin-right: .2rem;
}

.nav-tabs.justify-content-center > .nav-item{
  margin-right: .1rem;
  margin-left: .1rem;
}
.nav-tabs.justify-content-end > .nav-item{
  margin-right: 0rem;
  margin-left: .2rem;
}

.nav-tabs.nav-justified{
  align-items: flex-end;
}


/*verticals*/
.nav-tabs.flex-column {

    border-bottom-width:0px;
    border-right: 1px solid $border-color;
    
    height:100%;

  
    .nav-item{
      margin-bottom:0;
      margin-right:-1px;
    }

    .nav-link:hover, .nav-link:focus{
      border-color:transparent;
      border-right-color: darken($border-color,2);
    }

    .nav-link.active{
      border-color:transparent;
      border-left-color:  $border-color;
      border-top-color:  $border-color;
      border-bottom-color:  $border-color;
    }

    &.tabs-right{
        border-left: 1px solid $border-color;
        border-right-width:0px;
    
        .nav-item{
          margin-right:0px;
          margin-left:-1px;
        }

        .nav-link:hover, .nav-link:focus{
          border-right-color: transparent;
          border-left-color: darken($border-color,2);
        }

        .nav-link.active{
          border-left-color:  transparent;
          border-right-color: $border-color;
          border-top-color:  $border-color;
          border-bottom-color:  $border-color;
        }
    }
}




.nav-tabs.card-header-tabs .nav-link.active{
  background-color: $card-bg;
  border-bottom-color:$card-bg;
}



.nav-tabs.underlined{
	
	border-width:0px;

	.nav-link{
		border-width:0px;
		border-bottom-width:3px;
		padding-left:0;
		padding-right:0;
		margin-left:0;//$nav-link-padding-x;
		margin-right:$nav-link-padding-x;
    background-color:transparent;

		&.active{
			border-color:$primary;
		}
  }
    
   
  /*verticals*/

  /*	&.justify-content-end{
		.nav-link{
			margin-left:$nav-link-padding-x;
			margin-right:0;
		}
	}

	&.justify-content-center{
		.nav-link{
			margin-left:$nav-link-padding-x/2;
			margin-right:$nav-link-padding-x/2;
		}
	}
*/
  &.flex-column {
    border-left-width:0px;
    border-right-width:0px;

    .nav-link{
      border-right-width: 3px;
      border-bottom-width: 0px;
      // margin-right:-3px;
      
    }
    .nav-link:hover, .nav-link:focus{
      border-color:transparent;
      border-right-color: darken($border-color,2);
    }

    .nav-link.active{
      border-color:transparent;
      border-right-width: 3px;
      border-right-color:  $primary;
      
    }

    &.tabs-right{
        
        .nav-item{
          // margin-right:0px;
          // margin-left:-3px;
        }

        .nav-link{
          border-right-width: 0px;
          border-left-width: 3px;
          border-bottom-width: 0px;
          padding-left:1em;
          // margin-right:-3px;
          
        }

        .nav-link:hover, .nav-link:focus{
          border-color: transparent;
          border-left-color: darken($border-color,2);
        }

        .nav-link.active{
          border-left-color:  $primary;
          
        }
    }
  }



}

@media (max-width: 575px){
  .nav-tabs.underlined{
    text-align:center;
    display:block;

    li{
      display: inline-block;
    }
  }
}